<html>
<head>
    <title>Arborator – Quickedit</title>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <script type="text/javascript" src="script/jquery.js"></script>
    <script type="text/javascript" src="script/raphael.js"></script>
    <script type="text/javascript" src="script/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="script/jquery.cookie.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.18.custom.css" media="screen" />
	<script type='text/javascript' >
	    var currentsvg = "mmmm";
    </script>
    <script type="text/javascript" src="script/arborator.draw.js"></script>
    <script type="text/javascript" src="script/q.js"></script>
    <script type="text/javascript" src="script/jsundoable.js"></script>
    <script type="text/javascript" src="script/colpick.js"></script>
    <link href="css/arborator.css" rel="stylesheet" type="text/css">
    <link href="css/colpick.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="annodoc/jquery.svg.min.js"></script>
    <script type="text/javascript" src="annodoc/jquery.svgdom.min.js"></script>
    <script type="text/javascript" src="annodoc/jquery.timeago.js"></script>
    <script type="text/javascript" src="annodoc/jquery-ui.min.js"></script>
    <script type="text/javascript" src="annodoc/waypoints.min.js"></script>
    <script type="text/javascript" src="annodoc/jquery.address.min.js"></script>

    <!--brat helper modules-->
    <script type="text/javascript" src="annodoc/configuration.js"></script>
    <script type="text/javascript" src="annodoc/util.js"></script>
    <script type="text/javascript" src="annodoc/annotation_log.js"></script>

    <!--<script type="text/javascript" src="annodoc/webfont.js"></script>-->
    <!--brat modules-->
    <script type="text/javascript" src="annodoc/dispatcher.js"></script>
    <script type="text/javascript" src="annodoc/url_monitor.js"></script>
    <script type="text/javascript" src="annodoc/visualizer.js"></script>

    // embedding configuration
    <script type="text/javascript" src="annodoc/config.js"></script>
    // project-specific collection data
    <script type="text/javascript" src="annodoc/collections.js"></script>

    // NOTE: non-local libraries
    <script type="text/javascript" src="annodoc/annodoc.js"></script>
    <script type="text/javascript" src="annodoc/conllu.js"></script>

    <link rel="stylesheet" href="annodoc/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="annodoc/style.css"/>
    <link rel="stylesheet" type="text/css" href="annodoc/style-vis.css"/>
    <link rel="stylesheet" type="text/css" href="annodoc/hint.css"/>
</head>