<div id="funcform" style="display:none;position:absolute;">
    <form  method="post" id="func" name="func" >
        <select id="funchoice" class='funcmenu' onClick="changeFunc(event);" size=0 style="height:0; width:80px;"  >
        </select>
    </form>
</div>
<div id="catform" style="display:none;position:absolute;">
    <form  method="post" id="cat" name="cat" >
        <select id="catchoice" class='funcmenu' onClick="changeCat();"  size=0 style="height:0; width:80px;"  >
        </select>
    </form>
</div>
